 <!-- <nav class="navbar navbar-expand-sm " style="background:darksalmon">
    <div class="container-fluid">
        <i class="material-icons text-white">local_dining</i>
        <a class=" navbar-brand text-white" href="#">truYum</a>
        <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link text-white" [routerLink]="['/menu']">MenuList</a>

                <li class="nav-item">
                    <a class="nav-link text-white" href="#">
                        <i class="material-icons text-white" style="vertical-align: middle">person</i>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" [routerLink]="['/login']">login</a>
                  
                </li>
                <li class="nav-item ">
                        <a class="nav-link text-white" [routerLink]="['/signup']">signup</a>
                      
                    </li>
            </ul>
        </div>


    </div>
</nav>  -->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>